.componentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #e6f4fa;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  height: 700px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px; 
}

form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 600px;
  height: 700px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  height: 70px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 45%;
  height: 70px;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 16px;
  width: 124px;
  height: 43px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 92%;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 16px;
  width: 124px;
  height: 43px;
}

button:hover,
.link:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

@media screen and (max-width: 980px) {
  .componentContainer {
    height: 150vh;
  }

  .formContainer {
    height: 100vh;
  }

  form {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
}