.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* line-height: 40px; */
  /* padding-top: 70px;
    padding-left: 180px; */
  /* width: 100%;
    height: 700px;
    max-width: 1200px; */
}

.form {
  background-color: #e6f4fa;
  border: 1.6px solid #424242;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 600px;
  justify-content: center;
  padding-left: 40px;
}

.formTitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  justify-content: center;
  font-weight: 900;
  color: rgb(11, 54, 11);
  align-self: center;
  margin-top: 20px;
}

.form label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: 550;
  width: 150px;
  text-align: left;
}
.drug {
  flex-direction: column;
  display: flex;
  font-size: 14px;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
  align-self: center;
  align-content: center;
  margin-left: 40px;
}

.lab {
  flex-direction: column;
  display: flex;
  font-size: 14px;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
  align-self: center;
  align-content: center;
  margin-left: 40px;
}

.type {
  flex-direction: column;
  display: flex;
  font-size: 14px;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
  align-self: center;
  align-content: center;
  margin-left: 40px;
}
.nombreDrug {
  flex-direction: row;
  display: block;
  margin-left: 95px;
}

.nombreLab {
  flex-direction: row;
  display: block;
  margin-left: 55px;
}

.nombreType {
  flex-direction: row;
  display: block;
  margin-left: 0px;
}

.allSelects {
  /* 
  background-color: red; */
  /* margin-bottom: 50px; */
  margin-top: 50px;
}

.form input {
  /* padding-top: 10px; */
  background-color: #ffffff;

  font-size: 14px;
  padding: 7px;
  margin: 9px 0px 9px 0px;
  border: 1.6px solid #424242;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form select {
  background-color: #ffffff;
  padding: 6px;
  border: 1.6px solid #424242;
  border-radius: 5px;
  margin: 5px 10px 5px 10px;
  width: 250px;
  font-family: sans-serif;
  font-weight: 500;
}

.letra {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  text-align: left;
}

.backButton {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;

}


.submit {
  margin-right: 2px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 30px;
}
.form button {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.botones {
  /* display: flex; */
  flex-direction: column;
  /* margin: 10px 10px 10px 10px; */
  /* background-color: orange; */
  height: fit-content;
  margin-top: 100px;
}
