.componentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("https://d1odllitvcy39q.cloudfront.net/images/141_nueva-fachada-seguro-americano-2014.jpg");
  background-size: 200vh;
}

.containerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 70%;
  height: 70vh;
  background-color: #e6f4fa;
}

.containerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  color: black;
}
  
.link{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
  height: 40px;
}

.tableContainer {
  width: 80%;
  max-height: 400px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
  color: black;
}

th, tr {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e2e2e2;
}